In [100]:
import pandas as pd
import numpy as np

In [101]:
data = pd.read_excel('final priority dataset.xlsx')
data.head(33)

,Gender,Age,Diseases,Zone,Profession,Priority
0,Male,71,Heart Disease,Red Zone,salesman,1
1,Female,51,Chronic Lung Disease,Red Zone,homemaker,1
2,Male,25,Diabetes,Red Zone,others,1
3,Male,62,Chronic Lung Disease,Green Zone,educator,2
4,Female,23,Diabetes,Orange Zone,artist,2
5,Male,60,Immuno Compromised State,Red Zone,educator,1
6,Female,87,Sickle Cell Disease,Orange Zone,farmers,1
7,Female,44,Cancer,Red Zone,artist,1
8,Male,26,Chronic Lung Disease,Green Zone,administrative,3
9,Male,11,Diabetes,Orange Zone,technician,3
10,Female,20,Asthma,Red Zone,scientist,1
11,Male,57,Chronic Lung Disease,Red Zone,administrative,1
12,Female,50,Cancer,Orange Zone,scientist,2
13,Male,32,Severe Obesity,Green Zone,marketing,3
14,Female,40,Cancer,Orange Zone,others,3
15,Male,64,Immuno Compromised State,Orange Zone,artist,2
16,Male,44,Asthma,Red Zone,housekeeping,1
17,Female,10,Cancer,Orange Zone,housekeeping,2
18,Male,25,Sickle Cell Disease,Red Zone,farmers,1
19,Female,63,Asthma,Orange Zone,artist,3
20,Male,26,None,Green Zone,technician,3
21,Male,45,Severe Obesity,Green Zone,marketing,3
22,Male,37,None,Orange Zone,scientist,3
23,Female,45,None,Orange Zone,engineer,3
24,Male,87,None,Red Zone,administrative,1
25,Female,24,None,Green Zone,scientist,3
26,Female,32,Immuno Compromised State,Green Zone,artist,3
27,Female,62,Heart Disease,Green Zone,salesman,2
28,Female,22,Asthma,Red Zone,educator,1
29,Female,5,Diabetes,Orange Zone,student,1
30,Female,46,None,Green Zone,artist,3
31,Male,84,Severe Obesity,Red Zone,healthcare,1
32,Female,89,Heart Disease,Orange Zone,educator,2

In [102]:
data.shape

(1000, 6)

In [103]:
data.Diseases.unique()

array(['Heart Disease', 'Chronic Lung Disease', 'Diabetes',
       'Immuno Compromised State', 'Sickle Cell Disease', 'Cancer',
       'Asthma', 'Severe Obesity', 'None', 'Liver disease',
       'Cystic Fibrosis', 'Hyper Tension'], dtype=object)

In [104]:
data.Diseases.value_counts()

None                        202
Severe Obesity               87
Immuno Compromised State     83
Diabetes                     80
Asthma                       77
Cystic Fibrosis              76
Chronic Lung Disease         75
Hyper Tension                70
Liver disease                68
Heart Disease                66
Sickle Cell Disease          60
Cancer                       56
Name: Diseases, dtype: int64

In [105]:
data.Profession.unique()

array(['salesman', 'homemaker', 'others', 'educator', 'artist', 'farmers',
       'administrative', 'technician', 'scientist', 'marketing',
       'housekeeping', 'engineer', 'student', 'healthcare',
       'entertainment'], dtype=object)

In [106]:
data.Profession.value_counts()

artist            127
student            92
healthcare         74
marketing          70
technician         68
others             66
farmers            64
salesman           61
engineer           60
administrative     60
homemaker          58
housekeeping       56
entertainment      52
educator           48
scientist          44
Name: Profession, dtype: int64

In [107]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data.Gender=le.fit_transform(data.Gender)
data.Diseases=le.fit_transform(data.Diseases)
data.Profession=le.fit_transform(data.Profession)
data.Zone=le.fit_transform(data.Zone)

In [108]:
data.head()

   Gender  Age  Diseases  Zone  Profession  Priority
0       1   71         5     2          11         1
1       0   51         2     2           7         1
2       1   25         4     2          10         1
3       1   62         2     0           2         2
4       0   23         4     1           1         2

In [109]:
X=data.drop(['Priority'], axis='columns')
y=data.Priority

In [110]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [111]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [112]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

In [113]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.725

In [115]:
X.head()

   Gender  Age  Diseases  Zone  Profession
0       1   71         5     2          11
1       0   51         2     2           7
2       1   25         4     2          10
3       1   62         2     0           2
4       0   23         4     1           1

In [99]:
#check accuracy for random sample, here a male of age 22 with no previous health records in red zone is given priority 3
clf.predict([[1,22,9,2,1]])

array([3], dtype=int64)